.audio-player{
    position: fixed;
    top: 0;
    right: 0;
    width: 95%;
    height: 15%;
    z-index: 10;
}

.auFill{
    position: relative;
    left: 7%;
    height: 15vh;
}

.navbaar{
    position: fixed;
    left: 0;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 10;
}

.content1 {
    position: relative;
    z-index: 1;
    left: 14%;
    top: 0;
    width: 95%;
    height: 85%;
}
.content2 {
    position: relative;
    top: 0;
    left: 14%;
    width: 95%;
    height: 85%;
    z-index: 1;
}
.content3 {
    position: relative;
    top: 0;
    left: 14%;
    width: 95%;
    height: 85%;
    z-index: 1;
}
.content4 {
    position: relative;
    top: 0;
    left: 14%;
    width: 95%;
    height: 85%;
    z-index: 1;
}
